services:
  frontend:
    image: node:22
    container_name: url-shortner-frontend-dev
    working_dir: /app
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - vITE_API_URL=http://localhost:5000
    command: sh -c "npm install && npm run dev -- --host"
